nav > a {
  font-size: 26px;
  font-weight: 700;
}

nav > a:hover {
  color: var(--color-accent);
}

header {
  background-image: url("../../assets/wave-menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 14rem;
}
